.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 43px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 43px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81523;
}

.reg_from {
    width: 600px;
    margin: 50px auto 0;
}

.reg_from ul li {
    margin-bottom: 20px;
}

.reg_from ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_from ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: red;
}

.error_ico,
.success_ico {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.error_ico {
    background: url(../img/error.png) no-repeat;
}

.success {
    color: greenyellow;
}

.success_ico {
    background: url(../img/success.png) no-repeat;
}

.safe {
    padding-left: 174px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}

.agree {
    padding-left: 95px;
}

.agree a {
    color: #1ba1e6;
}

.agree input {
    vertical-align: middle;
}

.btn {
    margin: 30px 0 0 90px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #fff;
    font-size: 14px;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
}

.links ul li {
    display: inline-block;
}

.links ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 4px 6px 0;
}

.copyright {
    line-height: 20px;
}